
<html>
  <head>
    <style>
      body {
        background: red;
      }
    </style>
  </head>


<div id='text'>
  <form>
  <input type='text' name='guess' />
  <input type='submit' value='Encrypt!' />
</form>
  <p id="text1"> Word you entered to be encrypted: <%= params["guess"] %>
  </p>
  <p id="text1"> Encryption of word is: <%= number %>
  </p>


</div>
<body>
</html>
